@page
@model WebAppSecurity.Pages.Account.AccessDeniedModel
@{
}

<div class="text-center">
    <h1 class="display-4">Access Denied</h1>

    <p>You are not authorised to access this page.</p>
    
</div>
